<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <title>Twitter</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>

    <link type="text/css"
          rel="stylesheet"
          href="../static/css/style.css"
          th:href="@{/css/style.css}"/>
</head>

<body>

<h1>Twitter</h1>

<section class="container">
    <div class="left-half">
        <article>
            <h1></h1>
            <p></p>
        </article>
    </div>
    <div class="right-half">
        <article>
            <h1>Dołącz do Twittera</h1>
            <p><form action="/adduser">
            <button type="button" class="btn btn-primary btn-lg btn-block">Log in</button>
        </form>
            <form action="/addloginuser">
                <button type="button" class="btn btn-secondary btn-lg btn-block">Register</button>
            </form></p>
        </article>
    </div>
</section>
</body>
</html>